<!DOCTYPE html>
<html lang="ko">

<head>
    <% include ./head %>
</head>

<body>
    <% include ./nav %>
    <!-- conteont -->
    <div id="content">
        <div class="section section1">
            <div class="inner">
                메인
            </div>
        </div>
    </div>
    <!-- //conteont -->
</body>

</html>